.product-list {
  @include flex-column;
  gap: 12rem;

  padding: 0 2.4rem;

  @include mediaQuery(tablet) {
    padding: 0 4rem;
  }

  @include mediaQuery(desktop) {
    padding: 0 16.5rem;
  }

  @include mediaQuery(desktop-large) {
    padding-inline: 20vw;
  }
}
