.home {
  &__hero {
    margin-bottom: 5rem;

    @include mediaQuery(desktop) {
      margin-bottom: 10rem;
    }
  }

  &__product-categories,
  &__featured-products,
  &__claim {
    margin-bottom: 12rem;

    @include mediaQuery(desktop) {
      margin-bottom: 18rem;
    }
  }
}
