.page-not-found {
  &__main {
    flex-direction: row !important;
    @include flex-center;

    gap: 3rem;

    flex-grow: 1;
  }

  &__error-code {
    font-size: 3.2rem;
    font-weight: bold;

    padding-right: 3rem;
    padding-block: 1.5rem;

    border-right: 1px solid rgba(#000, $alpha: 0.5);
  }
}
